<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <link rel="stylesheet" href="css/myTrip.css">
	<title>我的行程</title>
</head>
<body>
	<h2>我的行程</h2> 
	<ul id="my-trip">
		<li>
			<a href="detail.html">
				<span id="start-time">18:24</span>
				<span id="cycling-time">30分钟</span>
				<span id="current-time">2018.1.30</span>
				<i></i>
			</a>
		</li>
		<li>
			<a href="detail.html">
				<span id="start-time">18:24</span>
				<span id="cycling-time">30分钟</span>
				<span id="current-time">2018.1.30</span>
				<i></i>
			</a>
		</li>
		<li>
			<a href="detail.html">
				<span id="start-time">18:24</span>
				<span id="cycling-time">30分钟</span>
				<span id="current-time">2018.1.30</span>
				<i></i>
			</a>
		</li>
		<li>
			<a href="detail.html">
				<span id="start-time">18:24</span>
				<span id="cycling-time">30分钟</span>
				<span id="current-time">2018.1.30</span>
				<i></i>
			</a>
		</li>
		<li>
			<a href="detail.html">
				<span id="start-time">18:24</span>
				<span id="cycling-time">30分钟</span>
				<span id="current-time">2018.1.30</span>
				<i></i>
			</a>
		</li>
	</ul>            
</body>
</html>